<MarketplaceDetails>
  <SmallAppTile>StoreTile.png</SmallAppTile>
  <ScreenShots>wvga.PNG;;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>wp_ss_20131115_0001[1].png;wp_ss_20131114_0006.png;wp_ss_20131114_0005.png;wp_ss_20131115_0002.png;wp_ss_20131114_0001.png;wp_ss_20131114_0003.png;;;</ScreenShotsWXGA>
  <ScreenShots720P>720p.PNG;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>